<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= goal3.title%></h1>
    <p><%= goal3.Step1%></p>
    <p><%= goal3.Step2%></p>
    <p><%= goal3.Step3%></p>

    <form action="/goals3/<%= goal3._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete this Goal">
    </form>
    <a href="/goals3/<%= goal3._id %>/edit"> Edit Goal</a>
    <a href="/"> Home</a>
</body>
</html>